<form action="/restaurants" method="POST">
  <div class="container">
    <input type="string" placeholder="輸入餐廳名稱" name="name">
    <input type="string" placeholder="輸入餐廳英文名稱" name="name_en">

    <input type="string" placeholder="輸入餐廳類別" name="category">
    <input type="string" placeholder="上傳餐廳圖片" name="image">
    <input type="string" placeholder="輸入餐廳地點" name="location">
    <input type="string" placeholder="輸入餐廳電話" name="phone">
    <input type="string" placeholder="輸入餐廳Google map" name="google_map">
    <input type="number" placeholder="輸入餐廳評等" name="rating">
    <input type="string" placeholder="輸入餐廳描述" name="description">
    <button type="submit">Create</button>
  </div>
</form>